@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-left: auto;
    margin-right: auto;
  }
  #about {
    margin-left: auto;
    margin-right: auto;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .contact-form {
    font-size: 23px;
    padding: 2rem;
    width: 50rem;
    max-width: 100%;
    box-shadow: -10px 15px 12px rgba(40, 15, 62, 0.5);
    border-radius: 1rem;  
  }
  .contact-form input[type="email"],
  .contact-form textarea {
    font-size: 30px;
    width: 45rem;
  }
  .contact-form button {
    font-size: 23px;
    padding: 15px 28px;
    margin-top: 25px;
  } 
}
  
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  #profile{
    display: block;
    height: fit-content;
    margin-bottom: 0;

  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  } 
  .about-containers {
    margin-top: 0;
  }
  .contact-info-upper-container,
  .contact-form {
    width: 35rem;
    justify-content: center;
  }
  .contact-form input[type="email"],
  .contact-form textarea {
    font-size: 30px;
    width: 30.5rem;
  }
  .contact-form button {
    font-size: 23px;
    padding: 15px 28px;
    margin-top: 25px;
  } 
  .form-buttons {
    flex-direction: row;
    gap: 1rem;
  }
  .menu-links {
    display: none; 
  }
  
  .menu-links.open {
    display: block; 
  }
}

@media screen and (max-width: 600px) {
  .menu-links {
    display: none; 
  }
  
  .menu-links.open {
    display: block; 
  }

  #contact {
    margin-left: 0;
    height: fit-content;
    }
  
    .contact-info-upper-container {
      width: 90%;
      margin: 1rem 0;
      border-radius: 1rem;
    }
  
    .contact-info-container {
      display: block;
      text-align: center;
      margin: 1rem 0;
    }
  
    .contact-form {
      width: 25rem;
      padding: 2rem;
      max-width: 100%;
      box-shadow: -10px 15px 12px rgba(40, 15, 62, 0.5);
      border-radius: 1rem;
    }
  
    .contact-form input[type="email"],
    .contact-form textarea {
      padding: 3px;
      font-size: 30px;
      width: 20rem;
      margin-top: 15px;
    }
  
    .contact-form label {
      font-size: 25px;
    }
  
    .contact-form button {
      padding: 17px 28px;
      font-size: 20px;
      border-radius: 2rem;
      font-weight: bold;
      margin-top: 15px;
    }
    .form-buttons {
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  footer{
    height: 10vh;
  }
  footer p {
    font-size: 15px;
    margin-top: 35px;
  }
  #profile {
    display: block;
    height: fit-content;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  } 
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .container-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .what-i-do-item h2{
    font-size: 15px;
  }
  .what-i-do-item .icon {
    width: 2.5rem;
    height: auto;
  }
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes slideUpFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px); 
}
}